@import '../../assets/style/colors.scss';

.at-tabs__item {
  font-size: 32px;
  font-weight: 600;
}

.at-tabs__item--active {
  color: $color-brand;

  .at-tabs__item-underline {
    background-color: $color-brand;
  }
}
